<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title>編集画面 | 管理画面</title>
</head>
<body>
<header>管理画面</header>
<div class="container">
    <form>
        <input
            type="text"
            th:value="${article.articleId}"
            name="article_id"
            readonly>
        <input
            type="text"
            th:value="${article.title}"
            name="title"
            >
        <textarea th:text="${article.content}"></textarea>
        <input type="submit" value="確認">
    </form>
</div>
</body>
</html>